<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
<appSettings>
  <add key="localPath" value="C:\Users\Acand\Desktop\test"/>
  <add key="remotePath" value="\\78.111.98.70\d$\testdosyasi"/>
  <add key="N" value="4"/>
  <add key="userName" value="administrator"/>
  <add key="password" value="net1231231*"/>
</appSettings>
</configuration>